<section>
    <nav>
        <div class="header-split-left">
            <img class="ms-Icon" src="assets/icon/ms-Logo.svg" alt="MS Logo">
            <a href="#ich-bin">{{'header-link-I-am' | translate}}</a>
            <a href="#skils">{{'header-link-skill' | translate}}</a>
            <a href="#portfolio">{{'header-link-portfolio' | translate}}</a>
            <a href="#kontakt">{{'header-link-contact' | translate}}</a>
        </div>
    
        <div class="header-split-right">
            <a (click)="translate.switchLanguage('de')">DE</a>
            <div class="dividing-Line">|</div>
            <a (click)="translate.switchLanguage('en')">EN</a>
            <img (click)="toggleNav()" class="burger-Menu" src="assets/icon/burger-menu.svg" alt="Burger Menu">
        </div>
    </nav>

    <div class="responsive-nav" [ngClass]="{ 'open': isNavOpen, 'closed': !isNavOpen }">
        <svg (click)="toggleNav()" width="35" height="32" viewBox="0 0 35 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.99997 5.00024L27.6506 26.7615" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            <path d="M7 27L27.46 5.05939" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <a href="#ich-bin">{{'header-link-I-am' | translate}}</a>
        <a href="#skils">{{'header-link-skill' | translate}}</a>
        <a href="#portfolio">{{'header-link-portfolio' | translate}}</a>
        <a href="#kontakt">{{'header-link-contact' | translate}}</a>
        <div class="responsive-translate">
            <a (click)="translate.switchLanguage('de')">DE</a>
            <div class="dividing-Line">|</div>
            <a (click)="translate.switchLanguage('en')">EN</a>
        </div>
    </div>

</section>

