nav {
    margin: auto;
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(11, 4, 45, 1), rgba(11, 4, 45, 1), rgba(11, 4, 45, 0.2));
    position: sticky;
    top: 0;
    z-index: 1;
    > div {
        display: flex;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: #E15544;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 0 1vw 0 1vw;
}

a:hover {
    color: #02F4BF;
}

.dividing-Line {
    color: #E15544;
    font-size: 32px;
    font-family: 'Roboto Mono', sans-serif;
}

.ms-Icon {
    width: 100px;
    height: 100px;
}

.burger-Menu {
    display: none;
}

.header-split-left {
    margin-left: 32px;
}

.header-split-right {
    margin-right: 32px;
}

@media (max-width: 700px) {
    nav {
        > div {
            margin: 0;
            > a {
                display: none;
            }
        }
    }

    .dividing-Line {
        display: none;
    }

    .burger-Menu {
        display: block;
        width: 46px;
        height: 46px;
    }
}