<nav>
    <div class="header-split-left">
        <img class="ms-Icon" src="assets/icon/ms-Logo.svg" alt="MS Logo">
        <a href="#ich-bin">Why me</a>
        <a href="#skils">Skills</a>
        <a href="#portfolio">Projects</a>
        <a href="#kontakt">Contact</a>
    </div>
    <div class="header-split-right">
        <a>DE</a>
        <div class="dividing-Line">|</div>
        <a>EN</a>
        <img class="burger-Menu" src="assets/icon/burger-menu.svg" alt="Burger Menu">
    </div>
</nav>