section {
    background-image: linear-gradient(rgba(11, 4, 45, 1), rgba(11, 4, 45, 1), rgba(11, 4, 45, 0.2));
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 75px;
}

nav {
    margin: auto;
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    padding: 0 32px;
}

a {
    text-decoration: none;
    color: #E15544;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 0 1vw 0 1vw;
}

a:hover {
    color: #02F4BF;
}

.dividing-Line {
    color: #E15544;
    font-size: 32px;
    font-family: 'Roboto Mono', sans-serif;
}

.ms-Icon {
    width: 100px;
    height: 100px;
}

.burger-Menu {
    display: none;
}

.header-split-left {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.header-split-right {
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.translater-Aktive {
    color: #02F4BF;
}

.translater-deaktive {
    color: #E15544;
}

.responsive-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #0B2D4D;
    z-index: 1;
    max-width: 1980px;
    > a {
        margin-bottom: 32px;
        text-align: center;
    }
    > svg {
        width: 42px;
        height: 42px;
        margin: 24px 24px 42px auto;
        color: #E15544;
        transition-duration: 0.2s;
    }
    >svg:hover {
        cursor: pointer;
        color: #02F4BF;
        transition-duration: 0.2s;
    }
}

@media (max-width: 750px) {
    nav {
        > div {
            margin: 0;
            > a {
                display: none;
            }
        }
    }

    .dividing-Line {
        display: none;
    }

    .burger-Menu {
        display: block;
        width: 46px;
        height: 46px;
    }
    .responsive-nav {
        display: flex;
        flex-direction: column;
    }
}
