<nav>
    <div>
        <div class="responsive600px">
            <a href="https://github.com/Ingo-Kasper"><img src="assets/icon/github-button.svg" alt="GitHub Button"></a>
            <a href="mailto:Ingo-Kasper@protonmail.com"><img src="assets/icon/email-button.svg" alt="Email Button"></a>
            <a href="https://www.linkedin.com/in/ingo-kasper-62bb35328/"><img src="assets/icon/linkedin-button.svg" alt="Linkedin Button"></a>
        </div>
        <img src="assets/icon/logo-footer.svg" alt="Logo Footer">
        <h2>© Ingo Kasper 2024</h2>  
        <div class="link-Button">
            <a href="https://github.com/Ingo-Kasper"><img src="assets/icon/github-button.svg" alt="GitHub Button"></a>
            <a href="mailto:Ingo-Kasper@protonmail.com"><img src="assets/icon/email-button.svg" alt="Email Button"></a>
            <a href="https://www.linkedin.com/in/ingo-kasper-62bb35328/"><img src="assets/icon/linkedin-button.svg" alt="Linkedin Button"></a>
        </div>
    </div>
    <div class="unter-Footer">
        <a routerLink="/impressum">{{'footer-link-privacy' | translate}}</a>
        <a routerLink="/datenschutz">{{'footer-link-legal-notice' | translate}}</a>
    </div>
</nav>
