<nav>
    <div>
        <div class="responsive600px">
            <img src="assets/icon/github-button.svg" alt="GitHub Button">
            <img src="assets/icon/email-button.svg" alt="Email Button">
            <img src="assets/icon/linkedin-button.svg" alt="Linkedin Button">
        </div>
        <img src="assets/icon/Logo footer.svg" alt="Logo Footer">
        <h2>© Ingo Kasper 2024</h2>  
        <div>
            <img src="assets/icon/github-button.svg" alt="GitHub Button">
            <img src="assets/icon/email-button.svg" alt="Email Button">
            <img src="assets/icon/linkedin-button.svg" alt="Linkedin Button">
        </div>
    </div>
    <div class="unter-Footer">
        <p>Legal Notice</p>
        <p>Privacy Policy</p>
    </div>
</nav>
