<section>
     <div class="content">
        <h2>Pollo Loco</h2>
        <span>JavaScript | HTML | CSS</span>
        <p>Jump, run and throw game based on object oriented approach.<br>
            Help Pepe to find coin and tabasco salsa to fight against the crazy hem.</p>
          <div class="button-div">
               <a href="https://github.com/Ingo-Kasper"><button class="gitHub">GitHub</button></a>
               <button class="liveTest">Live Test</button>
          </div>
     </div>
     <img src="assets/projects-img/el-Pollo-Loco_original.png" alt="Test Bild">
     <div class="button-Respons">
          <a href="https://github.com/Ingo-Kasper/El-Pollo-Loco"><button class="gitHub-Respons">GitHub</button></a>
          <button class="liveTest-Respons">Live Test</button>
     </div>
</section>