<section>
     <div>
        <h2>Pollo Loco</h2>
        <span>JavaScript | HTML | CSS</span>
        <p>Jump, run and throw game based on object oriented approach.<br>
            Help Pepe to find coin and tabasco salsa to fight against the crazy hem.</p>
          <div class="button-div">
               <button class="gitHub">GitHub</button>
               <button class="liveTest">Live Test</button>
          </div>
     </div>
     <img src="../../../../assets/projects-img/Screenshot 2024-04-01 213504.png" alt="Test Bild">
     <div class="button-Respons">
          <button class="gitHub-Respons">GitHub</button>
          <button class="liveTest-Respons">Live Test</button>
     </div>
</section>