<section>
     <div class="project-text">
        <h2>Pollo Loco</h2>
        <span>{{'pollo-Loco-Project-scripts' | translate}}</span>
        <p>{{'pollo-Loco-Project-Description' | translate}}</p>
          <div class="button-div">
               <a href="https://github.com/Ingo-Kasper"><button class="gitHub">GitHub</button></a>
               <a href="" target="_blank"><button class="liveTest">Live Test</button></a>
          </div>
     </div>
     <img src="assets/projects-img/el-Pollo-Loco.png" alt="Test Bild">
     <div class="button-Respons">
          <a href="https://github.com/Ingo-Kasper/El-Pollo-Loco" target="_blank"><button class="gitHub-Respons">GitHub</button></a>
          <a href="" target="_blank"><button class="liveTest-Respons">Live Test</button></a>
     </div>
</section>