section {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 24px 0;
    > div {
        margin: 0;
        width: 900px;
        > h2 {
            color: rgba(2, 244, 191, 1);
            font-size: 48px;
            font-weight: 700;
            font-family: 'Roboto Mono', sans-serif;
            margin-bottom: 24px;
            display: flex;
            justify-content: flex-end;
        }
        >  span {
            color: rgba(2, 244, 191, 1);
            font-size: 19px;
            font-weight: 400;
            font-family: 'Roboto Mono', sans-serif;
            margin: 24px 0 24px 0;
            display: flex;
            justify-content: flex-end;
        }
        > p {
            color: rgba(2, 244, 191, 1);
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto Mono', sans-serif;
            margin: 24px 0 24px 0;
            display: flex;
            justify-content: flex-end;
        }
        > .button-div {
            text-align-last: end;
            > .liveTest {
                background-color: rgb(2, 244, 191);
                border: none;
                color: rgb(11, 4, 45);
                font-size: 18px;
                font-weight: 500;
                font-family: "Roboto Mono", sans-serif;
                padding: 15px 30px 15px 30px;
                margin-left: 24px;
            }
            > .liveTest:hover {
                color: #E15544;
                transition-duration: 0.2s;
            }
            > a {
                > .gitHub {
                    color: #E15544;
                    font-family: "Roboto Mono", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    background-color: transparent;
                    padding: 14px 30px 14px 30px;
                    border: 1px solid #02F4BF;
                }
                > .gitHub:hover {
                    color: #02F4BF;
                    transition-duration: 0.2s;
                }
            }
        }
    }
    > img {
        width: 400px;
        height: 100%;
        object-fit: cover;
        margin-right: 0;
    }
}

.button-Respons {
    display: none;
}

.gitHub-Respons {
    display: flex;
    color: #E15544;
    font-family: "Roboto Mono", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    padding: 14px 30px 14px 30px;
    border: 1px solid #02F4BF;
}

.gitHub-Respons:hover {
    color: #02F4BF;
}

.liveTest-Respons{
    display: flex;
    background-color: rgb(2, 244, 191);
    border: none;
    color: rgb(11, 4, 45);
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
    padding: 15px 30px 15px 30px;
    margin-left: 24px;
}

.liveTest-Respons:hover {
    color: #E15544;
}

@media (max-width: 1450px) {
    section {
        > div {
            width: 600px;
        }
    }
}

@media (max-width: 1150px) {
    section {
        > div {
            width: 400px;
        }
    }
}

@media (max-width: 950px) {
    section {
        > img {
            margin-left: 24px;
        }
    }
}

@media (max-width: 835px) {
    section {
        flex-direction: column;
        align-items: center;
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            > h2 {
                font-size: 36px;
            }
            > span {
                font-size: 16px;
            }
            > p {
                font-size: 16px;
                width: 280px;
            }
            > .button-div {
                display: none;
            }
        }
        > img {
            margin: 24px 0 24px 0;
            align-self: center;
            width: 250px; 
        }
    }

    .button-Respons {
        display: none;
        align-items: center;
        flex-direction: row !important;
    }
    .button-Respons {
        display: flex;
    }
    .gitHub-Respons{
        padding: 12px 18px 12px 18px;
        font-size: 16px;
    }
    .liveTest-Respons {
        font-size: 16px;
        padding: 12px 18px 12px 18px;
    }
}