<section>
    @for (skill of skill; track $index) {
        <div class="singel-Skill">
            <img class="skill-Image" src="{{skill.image}}" alt="">
            <p class="skill-Titel">{{skill.title}}</p>
        </div>
    }
    <div class="challenge-me">
        <div class="singel-Skill">
            <img class="skill-Image" src="assets/icon/challenge-me.svg" alt="Challen Me">
            <p class="skill-Titel">{{'skill-link-Challenge-me' | translate}}</p>
        </div>
        <p class="skill-Titel-Challenge">{{'skill-link-Challenge' | translate}}</p>
    </div>
</section>
