section {
    display: flex;
    flex-wrap: wrap;
}

.singel-Skill {
    display: flex;
    flex-direction: column;
    height: 170px;
    margin: 24px 0 24px 0;
}

.skill-Image {
    width: 80px;
    object-fit: cover;
}

.skill-Titel {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgba(2, 244, 191, 1);
    width: 200px;
    text-align: center;
}

.challenge-me {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.skill-Titel-Challenge {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(2, 244, 191, 1);
    width: 200px;
    text-align: center;
    margin: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.singel-Skill:hover + .skill-Titel-Challenge {
    opacity: 1;
    visibility: visible;
}

@keyframes challengeMe-to-text {
    from {color: transparent;}
    to {color: rgba(2, 244, 191, 1);}
}

@keyframes challengeMe-to-transparent {
    from {color: rgba(2, 244, 191, 1);}
    to {color: transparent;}
}

@media (max-width: 1450px) {
    .singel-Skill {
        margin: 24px 0 24px 0;
        height: 125px;
    }

    .skill-Image {
        width: 60px;
    }

    .skill-Titel {
        font-size: 24px;
        width: 150px;
    }

    .challenge-me {
        > .skill-Titel-Challenge {
            font-size: 24px;
            width: 200px;
        }
    }
}

@media (max-width: 1000px) {
    .singel-Skill {
        height: 80px;
    }

    .skill-Image {
        width: 40px;
    }

    .skill-Titel {
        font-size: 16px;
        width: 100px;
    }

    .challenge-me {
        > .skill-Titel-Challenge {
            font-size: 16px;
            width: 100px;
        }
    }

}