<section id="ich-bin">
    <img src="assets/Fotos/Ingo-Kapser.png" alt="Bild 2 Ingo Kasper">
    <div class="main-dev d-flex-end">
        <h2>{{'why-me-link-Headline' | translate}}</h2>
        <span>
            {{'why-me-link-Text' | translate}} 
        </span>
        <div class="graphic-representation">
            <img class="respos-Curced-Arrow-1" src="assets/icon/arrow-5.svg" alt="Curved Arrow">
            <p class="why-Me">{{'why-me-link-I-am' | translate}}</p>
            <div class="graphic-representation-top">
                <p>{{'why-me-link-I-am' | translate}}</p>
                <div class="location-div">
                    <img class="location-Icon" src="assets/icon/location-WEB.svg" alt="Icon Location">
                    <span>{{'why-me-link-local' | translate}}<br>{{'why-me-link-local2' | translate}}</span>
                </div>
            </div>
            <div class="graphic-representation-mitte">
                <img class="curved-Arrow" src="assets/icon/arrow-5.svg" alt="Curved Arrow">
                <div class="suitcase" alt="Suitcase"></div>
                <span>{{'why-me-link-relocate' | translate}}<br>{{'why-me-link-relocate2' | translate}}</span>
            </div>
            <div class="graphic-representation-bottom">
                <div>
                    <div class="remote-Icon" alt="Icon Remote"></div>
                    <span>{{'why-me-link-Remote' | translate}}<br> {{'why-me-link-Remote2' | translate}}</span>
                    <img class="curved-Arrow-4" src="assets/icon/arrow-4.svg" alt="Curved Arrow">
                </div>
                <img class="curved-Arrow-3" src="assets/icon/arrow-1.svg" alt="Curved Arrow">
            </div>
            <img class="respos-Curced-Arrow-2" src="assets/icon/arrow-4.svg" alt="Curved Arrow">
            <div class="button-Posist">
                <a href="#kontakt"><button class="let-talk">{{'why-me-link-Button' | translate}}</button></a>
            </div>
        </div>
    </div>
</section>