section {
    margin: auto;
    max-width: 1980px;
    padding:  7vh 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    > img {
        object-fit: cover;
        margin: 0;
    }
}

h2 {
    color: rgb(225, 85, 68);
    font-size: 4em;
    font-weight: 500;
    text-align: end;
    margin-right: 0;
}

span {
    color: rgb(2, 244, 191);
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Roboto Mono", sans-serif;
    margin-right: 0;
}

p {
    color: rgba(225, 85, 68, 1);
    font-size: 48px;
    font-weight: 700;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
}

.main-dev {
    width: 50vw;
    margin-right: 0;
}

.why-Me {
    color: rgba(225, 85, 68, 1);
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto Mono', sans-serif;
    place-self: center;
    display: none;
}

.corved-Arrow {
    margin-left: 34px;
}

.respos-Curced-Arrow-1 {
    display: none;
    width: 30px;
}

.graphic-representation {
    width: 100%;
    max-width: 550px;
    margin: 0;
}

.graphic-representation-top {
    display: flex;
    align-items: center;
    margin: 12px 0 12px 0;
}

.location-div {
    width: 200px;
    display: flex;
    margin-left: 24px;
}

.location-Icon:hover {
    padding-bottom: 8px;
    background-image: url(/assets/icon/Ellipse-20.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.graphic-representation-top:hover {
    > div {
        > .location-Icon {
            padding-bottom: 8px;
            background-image: url(/assets/icon/Ellipse-20.svg);
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

.graphic-representation-mitte {
    display: flex;
    align-items: center;
    > .curved-Arrow {
        margin-right: 0;
    }
    > .suitcase {
        height: 50px;
        width: 32px;
        margin-right: 18px;
        margin-left: 25%;
        background-image: url(../../../assets/icon/group-25.svg);
        background-repeat: no-repeat;
    }
    > span {
        margin: 0 4vw 0 18px;
    }
}

.graphic-representation-mitte:hover {
    > .suitcase {
        transform: rotate(5deg);
    }
}

.graphic-representation-bottom {
    display: flex;
    margin: 12px 0 12px 0;
    > div {
        width: 350px;
        display: flex;
        margin-right: 50px;
    }
}

.graphic-representation-bottom:hover {
    > div {
        > .remote-Icon {
            height: 55px;
            width: 63px;
            background-image: url(../../../assets/icon/icon-Remote2.svg);
        }
    }
}

.remote-Icon {
    height: 50px;
    width: 55px;
    background-image: url(../../../assets/icon/icon-Remote.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.remote-Icon:hover {
    height: 55px;
    width: 63px;
    background-image: url(../../../assets/icon/icon-Remote2.svg);
}

.curved-Arrow {
    margin-right: 35%;
}

.curved-Arrow-3 {
    margin: 0;
}

.respos-Curced-Arrow-2 {
    display: none;
    width: 32px;
    transform: rotate(216deg) scaleX(-1);
    place-self: end;
}

.button-Posist{
    > a {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        width: 190px;
        margin-right: 0px;
        > .let-talk {
            background-color: rgba(2, 244, 191, 1);
            border: none;
            color: rgba(11, 4, 45, 1);
            font-size: 18px;
            font-weight: 500;
            font-family: 'Roboto Mono', sans-serif;
            padding: 15px 30px 15px 30px;
        }
        > .let-talk:hover {
            color: rgba(225, 85, 68, 1);
            transition-duration: 0.2s;
        }
    }
}

@media (max-width: 1050px){
    section {
        > img {
            width: 300px;
        }
    }
}

@media (max-width: 870px){
    .curved-Arrow { 
        display: none;
    }

    .respos-Curced-Arrow-1 {
        display: block;
        margin: 30px 0 0 0;
    }

    .respos-Curced-Arrow-2 {
        display: block;
        margin: 0;
        height: 70px;
    }

    .why-Me {
        display: block;
        text-align: center;
    }

    .curved-Arrow-4 {
        display: none;
    }

    .curved-Arrow-3 {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
            display: none;
        }
        > div {
            align-items: center;
            margin: 0;
            > h2 {
                margin: 0;
            }
            > span {
                text-align: center;
            }
            > .graphic-representation {
                display: flex;
                justify-content: center;
                flex-direction: column;
                > .graphic-representation-top {
                    margin: 18px auto;
                    > p {
                        display: none;
                    }
                    > .location-div{
                        > .location-Icon {
                            margin-left: 0;
                        }
                        > span {
                            font-size: 16px;
                            margin: 0 4vw 0 18px;
                        }
                    }
                }
                > .graphic-representation-mitte {
                    margin: 18px auto;
                    > .suitcase {
                        margin-left: 0;
                    }
                    > span {
                        font-size: 16px;
                        margin: 0 4vw 0 18px;
                    }
                }
                > .graphic-representation-bottom {
                    margin: auto;
                    > div {
                        width: auto;
                        margin-right: 0;
                        > span {
                            font-size: 16px;
                            margin: 0 4vw 0 18px;
                        }
                    }
                }
                > .let-talk {
                    font-size: 16px;
                    padding: 12px 20px 12px 20px;
                    place-self: center;
                }
            }
        }
    }
}