<section id="ich-bin">
    <img src="assets/Fotos/Ingo-Kapser.png" alt="Bild 2 Ingo Kasper">
    <div class="d-flex-end">
        <h2>{{'why-me-link-Headline' | translate}}</h2>
        <span>
            {{'why-me-link-Text' | translate}} 
        </span>
        <div class="graphic-representation">
            <img class="respos-Curced-Arrow-1" src="assets/icon/arrow-5.svg" alt="Curved Arrow">
            <p class="why-Me">I am</p>
            <div class="graphic-representation-top">
                <p>{{'why-me-link-I-am' | translate}}</p>
                <div class="location-Icon">
                    <img src="assets/icon/location-WEB.svg" alt="Icon Location">
                    <span>{{'why-me-link-local' | translate}}<br>{{'why-me-link-local2' | translate}}</span>
                </div>
            </div>
            <div class="graphic-representation-mitte">
                <img class="curved-Arrow" src="assets/icon/arrow-5.svg" alt="Curved Arrow">
                <img class="suitcase" src="assets/icon/group-25.svg" alt="Suitcase">
                <span>{{'why-me-link-relocate' | translate}}<br>{{'why-me-link-relocate2' | translate}}</span>
            </div>
            <div class="graphic-representation-bottom">
                <div>
                    <img src="assets/icon/icon-Remote.svg" alt="Icon Remote">
                    <span>{{'why-me-link-Remote' | translate}}<br> {{'why-me-link-Remote2' | translate}}</span>
                    <img class="curved-Arrow" src="assets/icon/arrow-4.svg" alt="Curved Arrow">
                </div>
                <img class="curved-Arrow" src="assets/icon/arrow-1.svg" alt="Curved Arrow">
            </div>
            <img class="respos-Curced-Arrow-2" src="assets/icon/arrow-4.svg" alt="Curved Arrow">
            <div class="button-Posist">
                <a href="#kontakt"><button class="let-talk">Let´s talk</button></a>
            </div>
        </div>
    </div>
</section>