section {
    margin: auto;
    max-width: 1980px;
    padding: 24px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    > img {
        object-fit: cover;
        width: 400px;
        margin: 24px 0 24px 0;
    }
    > div {
        margin: 24px 0 24px 24px;
        > h2 {
            color: rgba(225, 85, 68, 1);
            font-size: 54px;
            font-weight: 500;
        }
        > span {
            color: rgb(2, 244, 191);
            font-size: 16px;
            font-weight: 400;
            font-family: "Roboto Mono", sans-serif;
            margin: 24px 0 24px 0;
            text-align: end;
        }
        > .graphic-representation {
            width: 100%;
            > .graphic-representation-top {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 12px 0 12px 0;
                > p {
                    color: rgba(225, 85, 68, 1);
                    font-size: 48px;
                    font-weight: 700;
                    font-family: 'Roboto Mono', sans-serif;
                }
                > .location-Icon {
                    display: flex;
                    justify-content: flex-start;
                    width: 200px;
                    margin-left: 17%;
                    > span {
                        color: rgba(2, 244, 191, 1);
                        font-size: 18px;
                        font-family: 'Roboto Mono', sans-serif;
                        font-weight: 400;
                        margin-left: 12px
                    }
                }
            }
            > .graphic-representation-mitte {
                display: flex;
                justify-content: flex-end;
                margin: 12px 0 12px 0;
                > .suitcase {
                    margin-left: 22%;
                }
                > span {
                    color: rgba(2, 244, 191, 1);
                    font-size: 18px;
                    font-family: 'Roboto Mono', sans-serif;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }
            > .graphic-representation-bottom {
                display: flex;
                justify-content: flex-end;
                margin: 12px 0 12px 0;
                > div {
                    display: flex;
                    width: 350px;
                    > span {
                        color: rgba(2, 244, 191, 1);
                        font-size: 18px;
                        font-family: 'Roboto Mono', sans-serif;
                        font-weight: 400;
                        margin-left: 12px;
                    }
                }
            }
            > .button-Posist{
                display: flex;
                justify-content: flex-end;
                > .let-talk {
                    background-color: rgba(2, 244, 191, 1);
                    border: none;
                    color: rgba(11, 4, 45, 1);
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Roboto Mono', sans-serif;
                    padding: 15px 30px 15px 30px;
                    margin: 12px 0 12px 0;
                    place-self: flex-end;
                }
                > .let-talk:hover {
                    color: rgba(225, 85, 68, 1);
                }
            }
        }
    }
}

.why-Me {
    color: rgba(225, 85, 68, 1);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Mono', sans-serif;
    place-self: center;
    display: none;
}

.corved-Arrow {
    margin-left: 34px;
}

.respos-Curced-Arrow-1 {
    display: none;
    width: 30px;
}

.respos-Curced-Arrow-2 {
    display: none;
    width: 32px;
    transform: rotate(216deg) scaleX(-1);
    place-self: end;
}

@media (max-width: 870px){
    .curved-Arrow { 
        display: none;
    }

    .respos-Curced-Arrow-1 {
        display: block;
    }

    .respos-Curced-Arrow-2 {
        display: block;
    }

    .why-Me {
        display: block;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
            display: none;
        }
        > div {
            align-items: center;
            > h2 {
                font-size: 32px;
            }
            > span {
                text-align: center;
            }
            > .graphic-representation {
                > .graphic-representation-top {
                    justify-content: center;
                    margin-top: 18px;
                    > p {
                        display: none;
                    }
                    > .location-Icon {
                        margin-left: 0;
                        > span {
                            font-size: 16px;
                        }
                    }
                }
                > .graphic-representation-mitte {
                    justify-content: center;
                    margin-top: 18px;
                    > .suitcase {
                        margin-left: 0;
                    }
                    > span {
                        font-size: 16px;
                    }
                }
                > .graphic-representation-bottom {
                    justify-content: center;
                    margin-top: 18px;
                    > div {
                        width: 200px;
                        > span {
                            font-size: 16px;
                        }
                    }
                }
                > .let-talk {
                    font-size: 16px;
                    padding: 12px 20px 12px 20px;
                    place-self: center;
                }
            }
        }
    }
}