form {
    max-width: 1980px;
    padding: 24px 32px 24px 32px;
    display: flex;
    flex-direction: column;
}

.headliner-div {
    display: flex;
}

.head-Contact {
    color: rgba(225, 85, 68, 1);
    font-size: 54px;
    font-weight: 500;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 0 24px 0;
}

.arrow {
    margin: 0 0 0 24px;
}

.contact-div {
    width: 100%;
    display: flex;
}

.contact-left {
    display: flex;
    flex-direction: column;
    margin-left: 0;

}

p {
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 24px 24px 0;
}

input {
    border: 2px solid rgba(2, 244, 191, 1);
    background-color: transparent;
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    width: 550px;
    height: 56px;
    margin: 0 0 24px 0;
    padding: 0 12px 0 12px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
}

span {
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 0 18px 0;
    display: flex;
    align-items: center;
}

.contact-icon {
    margin-right: 12px;
}

textarea {
    border: 2px solid rgba(2, 244, 191, 1);
    background-color: transparent;
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    width: 550px;
    height: 117px;
    padding: 11px;
    margin: 0 0 24px 0;
}

.check-Marker-Text {
    margin: 0 24px 0 18px;
}

.checkbox-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
}

label {
    color: rgb(2, 244, 191);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto Mono", sans-serif;
    margin: 0 18px 0 0;
    display: flex;
    align-items: center;
}

.button-abled {
    color: rgba(225, 85, 68, 1);
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
    background-color: transparent;
    border: 1px solid rgb(2, 244, 191);
    width: 100px;
    height: 50px;
    margin-right: 0;
}

.button-abled:hover {
    color: rgba(2, 244, 191, 1);
}

.button-disabled {
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
    background-color: transparent;
    border: 1px solid rgb(112, 112, 112);
    width: 100px;
    height: 50px;
    margin-right: 0;
}

.link {
    text-decoration: none;
    color: #E15544;;
}

.error-report {
    color: #E15544;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto Mono", sans-serif;
    margin: 0 0 24px 0;
}

.checkbox-div-2 {
    display: flex;
    align-items: center;
}

.custom-checkmark {
    min-width: 24px;
    min-height: 24px;
    border: 2px solid rgba(225, 85, 68, 1);
    border-radius: 4px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 0;
  
    &.clicked {
      background-color: rgb(2, 244, 191);
  
      &::after {
        content: '';
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid rgba(225, 85, 68, 1);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  
    &::after {
      content: '';
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

@media (max-width: 1250px) {
    input {
        width: 400px;
    }

    textarea {
        width: 400px;
    }
}

@media (max-width: 960px) {
    .contact-div {
        flex-direction: column;
    }
    .span-contact {
        display: none;
    }
    p {
        align-items: center;
        margin: 0 0 16px 0;
    }
    .contact-left {
        align-items: center;
        margin: 8px 0 8px 0;
    }
    .contact-right {
        margin: 8px 0 8px 0;
        align-items: center;
        gap: 12px;
    }
    .arrow {
        display: none;
    }
    .checkbox-div {
        flex-direction: column;
    }
    .button-abled {
        margin: 24px 0 12px 0;
    }
    .button-disabled {
        margin: 24px 0 12px 0;
    }
}

@media (max-width: 550px) {
    .head-Contact {
        font-size: 36px;
    }
    textarea {
        width: 300px;
    }
    input {
        width: 300px;
    }
    .checkbox-div {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    textarea {
        width: 200px;
    }
    input {
        width: 200px;
    }
}