<section>
    <div class="headliner-div">
        <h2 class="head-Contact">Contact me</h2>
        <img class="arrow" src="../../../assets/icon/arrow.svg" alt="Arrow">
    </div>
    <div class="contact-div">
        <div class="contact-left">
            <p>Still not sure if I am the right person for your project? Contact me so I can reassure you. Let us work together</p>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
        </div>
        <div class="contact-right">
            <span><img src="" alt="E-Mail icon">'E-Mail: Ingo-Kasper&#64;protonmail.com</span>
            <span><img src="" alt="Phone Icon">Tel: 0162 666 82 75</span>
            <textarea name="Your Massage" id="" placeholder="Your Massage"></textarea>
        </div>
    </div>
</section>


<!-- <div>


</div> -->