<section id="kontakt">
    <div class="headliner-div">
        <h2 class="head-Contact">Contact me</h2>
        <img class="arrow" src="assets/icon/arrow.svg" alt="Arrow">
    </div>
    <div class="contact-div">
        <div class="contact-left">
            <p>Still not sure if I am the right person for your project? Contact me so I can reassure you. Let us work together</p>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
        </div>
        <div class="contact-right">
            <span class="span-contact"><img class="contact-icon" src="assets/icon/icon_email.svg" alt="E-Mail icon">E-Mail: Ingo-Kasper&#64;protonmail.com</span>
            <span class="span-contact"><img class="contact-icon" src="assets/icon/icon_phone.svg" alt="Phone Icon">Tel: 0162 666 82 75</span>
            <textarea name="Your Massage" id="" placeholder="Your Massage"></textarea>
        </div>
    </div>
    <div class="checkbox-div">
        <label><input class="check-Marker" type="checkbox">I've read the 
            <a class="link" href="">Privacy policy</a>
            component Web and agree to the processing of my data as outlined.</label>
        <button>Send</button>
    </div>
</section>
