section {
    margin: 0 auto;
    max-width: 1980px;
    height: calc(100vh - 125px);
    padding: 24px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15vh 0 0 0;
    }
}

h1 {
    color: #02F4BF;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 7rem;
}

h2 {
    color: #02F4BF;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}

a {
    margin: 0;
    height: 70px;
    > button {
        color: #E15544;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        background-color: transparent;
        padding: 16px 32px 16px 32px;
        border: 1px solid #02F4BF;
        cursor: pointer;
    }
    >button:hover {
        color: #02F4BF;
        transition-duration: 0.2s;
    }
}

.button-contact {
    transform: rotate(-90deg);
    position: relative;
    left: -80px;
}

.button-and-Arrow {
    display: flex;
    justify-content: space-between;
    margin: 0;
    > img {
        width: 20px;
        margin: 0;
    }
}

.i-am {
    object-fit: cover;
    width: 50%;
    margin: 0;
    max-height: 1200px;
    align-self: end;
}

.arrow-Down {
    margin: 0;
    color: #E15544;
    height: 10vh;
    width: 2vw;
}

.arrow-Down:hover {
    color: #02F4BF;
    transition-duration: 0.2s;
}

@media (max-width: 1450px){
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1185px){
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    a {
        > button {
            font-size: 1.8rem;
            padding: 14px 28px 14px 28px;
        }
    }
}

@media (max-height: 850px){
    a {
        > button {
            font-size: 1rem;
            padding: 14px 28px 14px 28px;
        }
    }
    .i-am {
        object-fit: scale-down;
        height: 50%;
    }
}

@media (max-width: 700px){
    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 24px;
        > div {
            > .button-and-Arrow {
                display: none;
            }
        }
        > .i-am {
            align-self: auto;
        }
    }
}

 @media (max-width: 600px){
    .i-am {
        width: 260px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
 }
