section {
    margin: 0 auto;
    max-width: 1980px;
    height: 88vh;
    padding: 24px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15vh 0 0 0;
        > .button-and-Arrow {
            display: flex;
            justify-content: space-between;
            > button {
                color: #E15544;
                font-family: 'Roboto Mono', sans-serif;
                font-size: 18px;
                font-weight: 500;
                background-color: transparent;
                padding: 16px 32px 16px 32px;
                border: 1px solid #02F4BF;
                transform: rotate(-90deg);
                padding-left: -12px;
            }
            > img {
                width: 20px;
            }
        }
        > .headline-I-am {
            > h1 {
                color: #02F4BF;
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 700;
                font-size: 82px;
            }
            > h2 {
                color: #02F4BF;
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 500;
                font-size: 52px;
            }
        }
    }
    > .i-am {
        object-fit: cover;
        width: 54%;
        height: 100%;
        margin: 0;
    }
}

@media (max-width: 1185px){
    section {
        > div {
            margin: 80px 0 0 0;
        }
        > .i-am {
            width: 400px;
        }
    }
}

@media (max-width: 990px){
    section {
        > div {
            > .headline-I-am {
                > h1 {
                    font-size: 40px;
                }
                > h2 {
                    font-size: 24px;
                }
            }
        }
    }
}
@media (max-height: 800px){
    section {
        height: 81vh;
    }
}

@media (max-width: 700px){
    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 24px;
        > div {
            > .button-and-Arrow {
                display: none;
            }
        }
    }
}

@media (max-height: 520px){
    section {
        height: 78vh;
    }
}

@media (max-height: 450px){
    section {
        height: 74vh;
    }
}

@media (max-width: 450px){
    section {
        > div {
            > .headline-I-am {
                > h1 {
                    font-size: 32px;
                }
                > h2 {
                    font-size: 18px;
                }
            }
        }
        .i-am {
            width: 260px;
        }
    }
}