<section>
    <div class="button-Respons">
        <button class="gitHub-Respons">GitHub</button>
        <button class="liveTest-Respons">Live Test</button>
    </div>
    <img src="../../../../assets/projects-img/Screenshot 2023-04-21 224712.png" alt="test Bild">
     <div>
        <h2>Join</h2>
        <span>JavaScript | HTML | CSS | Firebase</span>
        <p>Task manager inspired by the Kanban System.<br>
         Create and organize tasks using drag and drop functions, assign users and categories.</p>
        <button class="gitHub">GitHub</button>
        <button class="liveTest">Live Test</button>
     </div>

</section>
