<section>
    <div class="button-Respons">
        <a href="https://github.com/Ingo-Kasper/join-group-wark" target="_blank"><button class="gitHub-Respons">GitHub</button></a>
        <a href="" target="_blank"><button class="liveTest-Respons">Live Test</button></a>
    </div>
    <img src="assets/projects-img/Leptop-mit-Handyxcf.png" alt="test Bild">
     <div>
        <h2>Join</h2>
        <span>{{'join-Project-scripts' | translate}}</span>
        <p>{{'join-Project-Description' | translate}}</p>
        <a href="https://github.com/Ingo-Kasper/join-group-wark" target="_blank"><button class="gitHub">GitHub</button></a>
        <a href="" target="_blank"><button class="liveTest">Live Test</button></a>
     </div>

</section>
