section {
    margin: auto;
    max-width: 1980px;
    padding: 7vh 32px 24px 32px;
    h2 {
        color: rgba(225, 85, 68, 1);
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 500;
        font-size: 54px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    section {
        > h2 {
            font-size: 32px;
        }
    }
}