section {
    margin: auto;
    max-width: 1980px;
    padding: 24px 32px 24px 32px;
    display: flex;
    flex-direction: column;
    > h2 {
        color: rgba(225, 85, 68, 1);
        font-size: 54px;
        font-weight: 500;
        font-family: 'Roboto Mono', sans-serif;
        padding-bottom: 32px;
    }
}

